<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ToneAnalyzerUsername</key>
	<string>2685c65a-0b17-4b6f-b0f0-5e24df5524fe</string>
	<key>ToneAnalyzerPassword</key>
	<string>qMo3dhfSRLAG</string>
	<key>LanguageTranslationUsername</key>
	<string>c13f3da4-90fd-4d4a-ab57-eb138e8b4147</string>
	<key>LanguageTranslationPassword</key>
	<string>nR6SeKFUoEb5</string>
	<key>TextToSpeechUsername</key>
	<string>9611166e-cd39-4f43-957e-5e5e3006f207</string>
	<key>TextToSpeechPassword</key>
	<string>52CA6oKNeaLk</string>
	<key>SpeechToTextPassword</key>
	<string>J03kZ6dCVObV</string>
	<key>SpeechToTextUsername</key>
	<string>4228ece7-43fd-4dc4-88e4-40f80b9c252d</string>
</dict>
</plist>
